################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Ethereum/node_modules
/src/Ethereum/yarn.lock
/src/Nethereum-Integration/obj
/src/Nethereum-Integration/bin
/src/Nethereum-Integration/xs
/src/Nethereum-Integration/.vs
/src/web-client/yarn.lock
.DS_Store
src/.vscode